/* Estilos generales del contenedor */
.asoaciones-gestion-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 ;
    width: 95%;
    max-width: 1200px;
  }
  
  .asoaciones-gestion-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
  }
  
  /* Estilo para el campo de búsqueda */
  .asoaciones-seach-container {
    margin-bottom: 20px;
  }
  
  .asoaciones-search-input {
    width: 98%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  /* Filtro de estado */
  .asoaciones-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .asoaciones-filter-buttons {
    display: flex;
    gap: 10px;
  }
  
  .asoaciones-button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #015272;
    color: white;
  }
  
  .asoaciones-button:hover {
    background-color: #157ca5;
    transform: scale(1.05);
  }
  
  /* Botón activo */
  .asoaciones-button.active {
    background-color: #3498db;
    color: white;
  }
  
  /* Botón de Crear Asociación */
  .asoaciones-button-create {
    margin-right: 15px;
    background-color: #4CAF50;
  }
  
  .asoaciones-button-create:hover {
    background-color: #45a049;
  }
  

  /* Error message */
  .error-message {
    padding: 10px;
    background-color: #ffcccb;
    color: #d8000c;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  