/* Estilos para la página de Empadronamiento */

h3,
th,
td,label,span,input,table,
h2,
p,
button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.empadronamiento-container {
  padding: 20px;
  background-color: #f4f6f9;
}

.empadronamiento-container h2 {
  font-size: 24px;
  color: #333;
  margin: 10px auto;
}

.empadronamiento-search-container {
  margin-bottom: 15px;
}

.empadronamiento-search-input {
  width: 96.6%;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

/* Estilo para los botones en la misma línea */
.empadronamiento-buttons-container {
  display: flex;
  justify-content: space-between; /* Alinea los botones a los extremos */
  gap: 10px;
  margin-bottom: 20px;
}

.empadronamiento-button {
  padding: 11px 18px; /* Reducido el tamaño del botón */
  background-color: #015272;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px; /* Reducido el tamaño de la fuente */
  cursor: pointer;
  margin-top: -5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.empadronamiento-button:hover {
  background-color: #157ca5;
  transform: scale(1.05);
}

.empadronamiento-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.empadronamiento-button-create {
  background-color: #4caf50;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.empadronamiento-button-create:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.empadronamiento-tabla-container {
  margin-top: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
