/* Contenedor de la búsqueda */
.personas-search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input de búsqueda */
.personas-search-container input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* Contenedor de los botones, alineados a los extremos */
.personas-botones-container {
  display: flex;
  justify-content: space-between; /* Alinea los botones a los extremos */
  width: 100%;
  margin-bottom: 20px; /* Espaciado entre los botones y la tabla */
}

/* Contenedor individual de cada botón */
.personas-toggle-button-container {
  margin-right: 10px; /* Espaciado entre los botones */
}

/* Estilo para el botón de "Ver Activos / Inactivos" */
.personas-toggle-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.personas-toggle-button:hover {
  background-color: #0056b3;
}

/* Estilo para el botón de "Crear Persona" */
.personas-button-create {
  padding: 10px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.personas-button-create:hover {
  background-color: #218838;
}
