/* Contenedor general de la tabla */
.segurotabla-container {
  width: 99%;
  margin: 18px 0 0 -11px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
}

/* Estilo general de la tabla */
.segurotabla-container table {
  width: 100%;
  border-collapse: collapse;
  
}

/* Encabezados de la tabla */
.segurotabla-container th {
  background-color: #003b76;
  color: white;
  padding: 12px 20px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Estilo de las celdas de la tabla */
.segurotabla-container td {
  padding: 12px 20px;
  text-align: center;
  font-size: 15px;
  color: #000000;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

/* Filas pares con fondo ligeramente diferente */
.segurotabla-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo cuando pasas el mouse por encima de una fila */
.segurotabla-container tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Estilo de botones de acción */
.segurotabla-btn {
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 5px;
  border: none;
  font-weight: bold;
}

/* Botón de editar */
.segurotabla-btn-editar {
  background-color: #003b76;
  color: white;
  
}

.segurotabla-btn-editar:hover {
  background-color: #0264c5;
  transform: scale(1.05);

}

/* Botón de cambiar estado */
.segurotabla-btn-cambiar-estado {
  background-color: #bf1b05;
  color: white;
}

.segurotabla-btn-cambiar-estado:hover {
  background-color: #f93218;
  transform: scale(1.05);

}

/* Imagen de vehículo en las filas */
.segurotabla-img-vehiculo {
  width: 100px;
  transition: transform 0.3s ease;
}
.segurotabla-img-vehiculo:hover {
  transform: scale(3);
}
/* Mensajes de error */
.segurotabla-error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

/* Paginación */
.segurotabla-paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.segurotabla-paginacion button {
  padding: 8px 16px;
  background-color: #a3bda4;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.segurotabla-paginacion button:hover {
  background-color: #45a049;
}

.segurotabla-paginacion span {
  font-size: 14px;
  display: inline-block;
  padding: 8px;
  line-height: 32px;
}



/* Colores según el estado de vigencia */
.segurotabla-estado.no-vencido {
  background-color: #026600; /* Fondo verde */
  color: white; /* Letra blanca */
  padding: 7px 10px; /* Espaciado alrededor del texto */
}
.segurotabla-estado.no-vencido,
.segurotabla-estado.vencido {
  line-height: 1; /* Asegura que la línea no se estire innecesariamente */
  vertical-align: middle; /* Alinea verticalmente el texto con el contenedor */
  height: auto; /* Asegura que la altura sea ajustada automáticamente */
  display: inline-block; /* Hace que el fondo solo cubra el texto */
  margin-top: 20%;
  margin-left: 10%;
  font-weight: bold;
  border-radius: 15px 15px;
}

.segurotabla-estado.vencido {
  background-color: #c94000; /* Fondo naranja */
  padding: 8px 20px; /* Espaciado alrededor del texto */
  color: white; /* Letra blanca */
}
